.cart-item {
    position: relative;
}

.cart-badge {
    position: absolute;
    top: -10px;
    right: -10px;
    display: inline-block;
    padding: 0.25em 0.6em;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    border-radius: 3rem;
    color: #fff;
    background-color: #fa3434;
    font-weight: 600;
    vertical-align: baseline;
}

.main-bg {
    background-color: #f8f9fa;
}

.img-sm {
    width: 80px;
    height: 80px;
}
.input-spinner {
    width: 125px;
    flex-wrap: nowrap;
    display: inline-flex;
    vertical-align: middle;
}
