{% extends 'core/base.html' %} {% block content %}
<h1>Categories</h1>
<div class="container">
  <div class="row">
    {% for product in products%}
    <div class="col-md-3">
      <div class="card card-product-grid">
        <a href="{{ product.get_absolute_url }}" class="img-wrap">
          <img src="{{product.image.url}}" widt="200" height="200" />
        </a>
        <figcaption class="info-wrap">
          <a href="{{ product.get_absolute_url }}" class="title"
            >{{product.name}}</a
          >
          <div class="price mt-1">${{product.price}}</div>
        </figcaption>
      </div>
    </div>
    {%endfor%}
  </div>
</div>

{% endblock %}
