{% extends "core/base.html" %}
{% block title %}
    {{ product.name }} |
{% endblock title %}
{% block content %}
    <section class="py-5 main-bg">
        <div class="container">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-6">
                        <img src="{{ product.image.url }}"
                             class="img-fluid rounded-start"
                             alt="{{ product.name }}"
                             width="auto"
                             height="auto"/>
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h5 class="title h2">{{ product.name }}</h5>
                            <div class="mb-3">
                                <var class="price h4">${{ product.price }}</var>
                            </div>
                            <p class="card-text">{{ product.description }}</p>
                            <hr/>
                            <p class="card-text">
                                {% if product.stock <= 0 %}
                                    <h5 class="text-danger">Out of Stock</h5>
                                {% else %}
                                    <a href="{% url 'add_cart' product.id %}" class="btn  btn-primary"><span class="text">Add to cart</span> <i class="bi-cart"></i></a>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
